* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #191622;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent
}

*::-webkit-scrollbar-thumb {
    background-color: #c2c1ff7b;
    border-radius: 20px;
}