header {
    text-align: center;
    padding: 40px;
}

header img {
    width: 150px;
    border-radius: 50%;
}

header div {
    font-size: 20pt;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 4px;
    /* font-family: 'Raleway', sans-serif; */
    color: #c2c1ff;
}

header div div {
    font-weight: 300;
}

header p {
    margin-top: 120px;
    font-size: 14pt;
    font-weight: 700;
}

.cards {
    /* width: 300px; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 28px;

}

.cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 120px;
    width: 300px;
    border-radius: 48px;
    cursor: pointer;
    transition: 400ms;
    border: 2px solid #ffffff;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
    text-decoration: none;
}

.cards .card p.tip {
    font-size: 14pt;
    font-weight: 400;
}

.cards .card:hover {
    transform: scale(1.1, 1.1);
}

.last-doc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #8f8dff;
    border: 8px solid transparent;
    color: white;
    gap: 8px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

.text {
    font-size: 14pt;
    font-weight: 700;
    letter-spacing: 1px;
}

.svg {
    padding-top: 5px;
    height: 100%;
    width: fit-content;
}

.svg svg {
    width: 40px;
    height: 20px;
}

.button:hover {
    border: 8px solid #c2c1ff;
}

.button:active {
    border: 5px solid #c0dfff;
}

.button:hover .svg svg {
    animation: jello-vertical 0.9s both;
    transform-origin: left;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

@media screen and (max-width: 990px) {
    .cards {
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
    }
}